# Package Files #
*.jar
*.war
*.ear
*.nja
*.ipynb
py-env
.idea
.ropeproject
.pida-metadata
.pydevproject
.classpath
.project
.settings/
.coverage
target/
*.class
*.pyc
nb-configuration.xml
nbactions.xml
rebel.xml
.settings.cfg
.alembic.ini
node_modules
deploy
_build
dimu-store.log
local.alembic.ini
.kdev4
*.kdev4
